Repository chahatkesh/openlearn-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, documentation, ci/cd, dependencies, config, styling

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Exclude expired/disabled leagues from filter in LeaguesPage
  src/pages/dashboard/LeaguesPage.jsx
Labels: frontend

feat: Simplify LeaguesCarousel by commenting out unused carousel code
  src/components/features/landing/LeaguesCarousel.jsx
  src/components/features/landing/Note.jsx
  src/pages/public/CohortsPage.jsx
Labels: frontend

feat: Remove unused imports in LeaguesCarousel component
  src/components/features/landing/LeaguesCarousel.jsx
Labels: frontend

feat: Add ConfirmationModal and SuccessModal components for league deletion process
  src/components/common/ConfirmationModal.jsx
  src/components/common/SuccessModal.jsx
  src/components/common/index.js
  src/pages/admin/AdminLeaguesPage.jsx
Labels: frontend

feat: Refactor UpdatesPage to streamline repo color categorization and enhance UI layout
  src/pages/public/UpdatesPage.jsx
Labels: frontend

feat: Refactor ProfilePage to optimize component definitions and improve social link handling
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

feat: Update SocialLink component to use destructured icon prop and improve dependency array in useEffect
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Integrate SWR for dashboard data management and optimize data loading in LeaguesPage and LearningProgressSection
  package-lock.json
  package.json
  src/components/features/admin/SectionManagement.jsx
  src/components/features/dashboard/LearningProgressSection.jsx
  src/hooks/useDashboard.js
  src/pages/dashboard/LeaguesPage.jsx
  src/utils/api/optimizedDashboardService.js
Labels: frontend, dependencies, config

feat: Implement SWR for league progress and user profile management; enhance UI components for better user experience
  src/components/features/admin/WeekManagement.jsx
  src/components/features/dashboard/LeagueDetailPage.jsx
  src/components/features/dashboard/LearningProgressSection.jsx
  src/components/features/dashboard/WelcomeBanner.jsx
  src/context/AuthContext.jsx
  src/hooks/useDashboard.js
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

feat: Add cohort fetching in LeaguesPage and update enrollment logic to prioritize available cohorts
  src/components/features/dashboard/LeagueDetailPage.jsx
  src/context/AuthContext.jsx
  src/hooks/useDashboard.js
  src/pages/dashboard/LeaguesPage.jsx
  src/utils/api/progressService.js
Labels: frontend

feat: Add ActivityHeatmap component and integrate it into LearningProgressSection for enhanced user activity visualization
  src/components/features/dashboard/ActivityHeatmap.jsx
  src/components/features/dashboard/LearningProgressSection.jsx
  src/components/features/dashboard/index.js
  src/utils/api/activityService.js
Labels: frontend

Refactor dashboard components for improved layout and user experience
  src/components/features/dashboard/AssignmentManagement.jsx
  src/components/features/dashboard/LeagueDetailPage.jsx
  src/components/features/dashboard/LearningProgressSection.jsx
  src/components/layout/DashboardLayout.jsx
  src/hooks/useDashboard.js
  src/pages/dashboard/LeaderboardPage.jsx
  src/pages/dashboard/LeaguesPage.jsx
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

feat: Simplify LeagueDetailSkeleton component for improved readability and performance
  src/components/ui/SkeletonLoader.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: add end of service notice
  END_OF_SERVICE.md
  README.md
  src/App.jsx
  src/components/features/landing/Hero.jsx
  src/pages/public/EndOfServicePage.jsx
  src/pages/public/LandingPage.jsx
  src/pages/public/index.js
Labels: frontend, documentation

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'src/**'
  - changed-files:
    - any-glob-to-any-file: 'public/**'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

# CI/CD
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
  - changed-files:
    - any-glob-to-any-file: '.github/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
  - changed-files:
    - any-glob-to-any-file: 'package-lock.json'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file: '*.config.js'
  - changed-files:
    - any-glob-to-any-file: '*.json'
  - changed-files:
    - any-glob-to-any-file: 'vercel.json'

# Styling
styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
  - changed-files:
    - any-glob-to-any-file: '**/*.scss'
