Repository chahatkesh/openlearn-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, documentation, ci/cd, dependencies, config, styling

refactor: streamline image handling in EventDetailPage and EventsPage; remove redundant loading states and improve image filtering logic
  src/components/common/Footer.jsx
  src/components/common/Navbar.jsx
  src/pages/EventDetailPage.jsx
  src/pages/EventsPage.jsx
  src/utils/eventImageService.js
Labels: frontend

docs: Add comprehensive documentation for architecture, deployment, contributing, development standards, environment configuration, installation, and quick start guide for OpenLearn Frontend
  README.md
  docs/README.md
  docs/admin-guide/admin-overview.md
  docs/api/data-models.md
  docs/architecture/component-architecture.md
  docs/architecture/data-flow.md
  docs/architecture/overview.md
  docs/architecture/system-overview.md
  docs/components/gallery-system.md
  docs/components/league-display-enhancement.md
  docs/components/leagues-carousel-enhancement.md
  docs/deployment/build.md
  docs/development/contributing.md
  docs/development/dashboard-optimization.md
  docs/development/dashboard-performance-summary.md
  docs/development/dashboard-routing.md
  docs/development/favicon-service.md
  docs/development/league-detail-optimization.md
  docs/development/league-detail-skeleton-improvements.md
  docs/development/recent-features.md
  docs/development/standards.md
  docs/getting-started/environment.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/user-guide/dashboard-overview.md
  docs/user-guide/getting-started.md
  docs/user-guide/legal-pages.md
  docs/user-guide/platform-updates.md
  docs/user-guide/revision-system.md
Labels: documentation

feat: optimize league statistics calculations in LearningProgressSection and improve data handling in OptimizedDashboardService
  src/components/dashboard/LearningProgressSection.jsx
  src/utils/optimizedDashboardService.js
Labels: frontend

feat: implement AvatarDemoPage and enhance avatar services; replace avatarService with boringAvatarsUtils and boringAvatarsService for improved local avatar generation
  src/App.jsx
  src/components/admin/AdminLayout.jsx
  src/components/admin/UserManagement.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/UserProfileSection.jsx
  src/components/landingPage/Leaderboard.jsx
  src/pages/AvatarDemoPage.jsx
  src/pages/DashboardPage.jsx
  src/pages/LeaderboardPage.jsx
  src/pages/ProfilePage.jsx
  src/utils/avatarService.jsx
  src/utils/avatarUtils.js
  src/utils/boringAvatarsService.jsx
  src/utils/boringAvatarsUtils.js
  src/utils/enhancedAvatarService.jsx
Labels: frontend

refactor: remove images count display from EventCard for cleaner UI
  src/pages/EventsPage.jsx
Labels: frontend

refactor: remove shadow from OpenLearn logo for a cleaner appearance
  src/components/dashboard/DashboardLayout.jsx
  src/pages/PrivacyPolicyPage.jsx
  src/pages/TermsOfServicePage.jsx
Labels: frontend

refactor: update avatar styling in ProfilePage for improved appearance
  src/pages/ProfilePage.jsx
Labels: frontend

Refactor team data and update AboutPage and CommunityPage
  src/components/landingPage/Hero.jsx
  src/data/leaguesData.js
  src/data/teamData.js
  src/pages/AboutPage.jsx
  src/pages/CommunityPage.jsx
Labels: frontend

feat: implement LeagueSelectionModal for user role promotion with league assignments; update UserManagement and AdminUsersPage to integrate modal functionality and handle league data
  src/components/admin/LeagueSelectionModal.jsx
  src/components/admin/UserManagement.jsx
  src/data/communityData.js
  src/data/leaguesData.js
  src/pages/CommunityPage.jsx
  src/pages/admin/AdminUsersPage.jsx
  src/utils/adminService.js
Labels: frontend

feat: enhance admin role management by updating route access and default redirects; add support for PATHFINDER role in AdminLayout, AdminDefaultRedirect, and dashboard links
  src/App.jsx
  src/components/admin/AdminDefaultRedirect.jsx
  src/components/admin/AdminLayout.jsx
  src/pages/DashboardPage.jsx
  src/utils/adminService.js
Labels: frontend

feat: implement modal component for user detail and league selection; enhance UserManagement to utilize modal for better user experience
  src/components/admin/LeagueSelectionModal.jsx
  src/components/admin/UserManagement.jsx
  src/components/dashboard/LearningProgressSection.jsx
  src/pages/EventsPage.jsx
  src/utils/boringAvatarsService.jsx
Labels: frontend

feat: enhance AdminLayout with sidebar navigation and logout confirmation; integrate user role-based navigation items and improve layout structure
  src/components/admin/AdminLayout.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: enhance sidebar functionality in AdminLayout; implement click outside detection, prevent body scroll, handle escape key, and manage sidebar state on resize
  src/components/admin/AdminLayout.jsx
Labels: frontend

feat: enhance LeagueDetailPage layout and responsiveness; improve modal design, update component styles, and optimize user interactions for better experience
  src/components/dashboard/LeagueDetailPage.jsx
Labels: frontend

Implement code changes to enhance functionality and improve performance
  public/leagues/accelerate_highlight.png
  src/components/common/Navbar.jsx
Labels: frontend

feat: enhance mobile menu button styling and adjust layout for better usability
  src/components/common/Navbar.jsx
Labels: frontend

Refactor code structure for improved readability and maintainability
  public/leagues/highlight/accelerate.png
  src/components/common/Navbar.jsx
  src/components/common/SectionHeader.jsx
  src/components/landingPage/Cta.jsx
  src/components/landingPage/Hero.jsx
  src/components/landingPage/LeaguesCarousel.jsx
  src/components/landingPage/LeaguesCarousel.module.css
Labels: frontend, styling

Remove DashboardPage component and its associated logic and styles
  src/App.jsx
  src/components/common/SkeletonLoader.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/index.css
  src/pages/AdminPage.jsx
  src/pages/DashboardPage.jsx
Labels: frontend, styling

feat: streamline logout functionality by removing confirmation modals and updating logout links
  src/components/admin/AdminLayout.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/PendingApprovalPage.jsx
Labels: frontend

Add Events, Landing, and Updates pages with respective components and functionality
  src/App.jsx
  src/pages/AvatarDemoPage.jsx
  src/pages/admin/index.js
  src/pages/auth/EmailVerificationPage.jsx
  src/pages/auth/ForgotPasswordPage.jsx
  src/pages/auth/LogoutPage.jsx
  src/pages/auth/MigrationPage.jsx
  src/pages/auth/ResetPasswordPage.jsx
  src/pages/auth/SignInPage.jsx
  src/pages/auth/SignUpPage.jsx
  src/pages/auth/index.js
  src/pages/dashboard/DashboardMainPage.jsx
  src/pages/dashboard/LeaderboardPage.jsx
  src/pages/dashboard/LeagueDetailPageRoute.jsx
  src/pages/dashboard/LeaguesPage.jsx
  src/pages/dashboard/ProfilePage.jsx
  src/pages/dashboard/index.js
  src/pages/legal/PrivacyPolicyPage.jsx
  src/pages/legal/TermsOfServicePage.jsx
  src/pages/legal/index.js
  src/pages/public/AboutPage.jsx
  src/pages/public/AcceleratePage.jsx
  src/pages/public/CohortsPage.jsx
  src/pages/public/CommunityPage.jsx
  src/pages/public/EventDetailPage.jsx
  src/pages/public/EventsPage.jsx
  src/pages/public/LandingPage.jsx
  src/pages/public/UpdatesPage.jsx
  src/pages/public/index.js
Labels: frontend

Refactor documentation for environment configuration, installation, and quick start guide
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/api/authentication.md
  docs/api/data-models.md
  docs/api/learning-progress.md
  docs/architecture/overview.md
  docs/architecture/security.md
  docs/deployment/build.md
  docs/development/contributing.md
  docs/development/setup.md
  docs/development/standards.md
  docs/getting-started/environment.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
Labels: documentation

feat: Update titles for Cohorts and Events pages to enhance clarity and context
  src/pages/public/CohortsPage.jsx
  src/pages/public/EventsPage.jsx
Labels: frontend

feat: Enhance Hero component with improved animations and UI elements for better user experience
  src/components/features/landing/Hero.jsx
Labels: frontend

feat: Revamp Navbar for improved medium screen navigation and enhanced styling
  src/components/layout/Navbar.jsx
Labels: frontend

feat: Remove main components export index to streamline component organization
  src/components/index.js
Labels: frontend

feat: Enhance HighlightCard component with responsive design and improved styling for better user experience
  src/components/features/landing/LeaguesCarousel.jsx
Labels: frontend

Refactor authentication pages for improved UI consistency and accessibility
  src/components/features/admin/UserManagement.jsx
  src/components/features/authentication/AuthError.jsx
  src/components/features/authentication/AuthLayout.jsx
  src/components/features/dashboard/UserProfileSection.jsx
  src/components/features/landing/TwitterTestimonials.jsx
  src/pages/auth/EmailVerificationPage.jsx
  src/pages/auth/ForgotPasswordPage.jsx
  src/pages/auth/LogoutPage.jsx
  src/pages/auth/MigrationPage.jsx
  src/pages/auth/ResetPasswordPage.jsx
  src/pages/auth/SignInPage.jsx
  src/pages/auth/SignUpPage.jsx
  src/pages/dashboard/ProfilePage.jsx
  src/utils/api/progressService.js
  src/utils/social/socialService.js
Labels: frontend

feat: Update Community and Team components with enhanced styling, dynamic stats, and improved data structure
  src/components/features/landing/Team.jsx
  src/components/features/landing/TwitterTestimonials.jsx
  src/data/communityData.js
  src/data/teamData.js
Labels: frontend

feat: Enhance FeaturedEvents and LeaguesPage components with improved styling and animations for better user experience
  src/components/features/landing/FeaturedEvents.jsx
  src/components/features/landing/TwitterTestimonials.jsx
  src/data/leaguesData.js
  src/pages/dashboard/LeaguesPage.jsx
Labels: frontend

feat: Update DashboardLayout component with improved color styling for active navigation items and user avatar
  src/components/layout/DashboardLayout.jsx
Labels: frontend

feat: Add resource calculation display to LeaguesPage for improved user feedback
  src/pages/dashboard/LeaguesPage.jsx
Labels: frontend

feat: Add ExMatrix League and pathfinders to community and leagues data for enhanced user engagement
  src/data/communityData.js
  src/data/leaguesData.js
Labels: frontend

Refactor code structure for improved readability and maintainability
  public/leagues/cp-cover.jpg
  public/leagues/exmatrix-cover.jpg
  public/leagues/finance-cover.jpg
  public/leagues/highlight/accelerate.png
  public/leagues/iot-cover.jpg
  public/leagues/ml-cover.jpg
  public/leagues/quantum-cover.jpg
  public/leagues/soft-skills-cover.jpg
  src/data/communityData.js
Labels: frontend

fix: Update avatar generation logic to prioritize user name over email for improved consistency
  src/components/features/landing/LeaguesCarousel.jsx
  src/utils/helpers/boringAvatarsService.jsx
  src/utils/helpers/boringAvatarsUtils.js
Labels: frontend

Enhance WelcomeBanner with Apple-style design, improve CSS for smooth scrolling and glass morphism, and update DashboardMainPage title and layout
  src/components/features/dashboard/LearningProgressSection.jsx
  src/components/features/dashboard/WelcomeBanner.jsx
  src/index.css
  src/pages/dashboard/DashboardMainPage.jsx
Labels: frontend, styling

style: Refine layout and spacing in LearningProgressSection for improved aesthetics and consistency
  src/components/features/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: add portfolio and discord username to social handles update
  src/components/features/authentication/MigrationRoute.jsx
  src/components/features/dashboard/LearningProgressSection.jsx
  src/pages/dashboard/ProfilePage.jsx
  src/utils/social/socialService.js
Labels: frontend

feat: add leagues route and update access control for admin pages; enhance data fetching based on user permissions
  src/App.jsx
  src/components/layout/AdminLayout.jsx
  src/pages/admin/AdminAssignmentsPage.jsx
  src/pages/admin/AdminResourcesPage.jsx
  src/pages/admin/AdminSectionsPage.jsx
  src/pages/admin/AdminWeeksPage.jsx
  src/pages/dashboard/ProfilePage.jsx
  src/utils/api/adminService.js
Labels: frontend

feat: enhance community data display with image support and grouped pathfinders by league
  src/data/communityData.js
  src/pages/public/CommunityPage.jsx
Labels: frontend

refactor: update terminology from "Days" and "Weeks" to "Topics" and "Modules" for consistency across admin sections
  src/components/features/admin/SectionManagement.jsx
  src/components/features/admin/WeekManagement.jsx
  src/components/layout/AdminLayout.jsx
Labels: frontend

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'src/**'
  - changed-files:
    - any-glob-to-any-file: 'public/**'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

# CI/CD
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
  - changed-files:
    - any-glob-to-any-file: '.github/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
  - changed-files:
    - any-glob-to-any-file: 'package-lock.json'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file: '*.config.js'
  - changed-files:
    - any-glob-to-any-file: '*.json'
  - changed-files:
    - any-glob-to-any-file: 'vercel.json'

# Styling
styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
  - changed-files:
    - any-glob-to-any-file: '**/*.scss'
