Repository chahatkesh/openlearn-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, documentation, ci/cd, dependencies, config, styling

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'src/**'
  - changed-files:
    - any-glob-to-any-file: 'public/**'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

# CI/CD
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
  - changed-files:
    - any-glob-to-any-file: '.github/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
  - changed-files:
    - any-glob-to-any-file: 'package-lock.json'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file: '*.config.js'
  - changed-files:
    - any-glob-to-any-file: '*.json'
  - changed-files:
    - any-glob-to-any-file: 'vercel.json'

# Styling
styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
  - changed-files:
    - any-glob-to-any-file: '**/*.scss'

feat: add scroll-to-top functionality for footer logo
  src/components/landingPage/Footer.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies, config

feat: add email contact link and icon to footer
  src/components/landingPage/Footer.jsx
Labels: frontend

feat: implement performance optimizations for LeagueDetailPage and resource loading
  docs/development/league-detail-optimization.md
  src/components/dashboard/LeagueDetailPage.jsx
  src/index.css
  src/utils/optimizedProgressService.js
  src/utils/resourceProgressService.js
Labels: frontend, documentation, styling

Implement comprehensive dashboard performance optimizations
  docs/development/dashboard-optimization.md
  docs/development/dashboard-performance-summary.md
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/DashboardLoadingScreen.jsx
  src/components/dashboard/LearningProgressSection.jsx
  src/utils/optimizedDashboardService.js
Labels: frontend, documentation

feat: enhance loading state UI with improved skeleton screens
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: implement progressive data loading and resource calculation tracking in LearningProgressSection
  src/components/dashboard/LearningProgressSection.jsx
  src/utils/optimizedDashboardService.js
Labels: frontend

feat: enhance loading experience with minimal UI updates and progress indicators in LearningProgressSection
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: simplify loading state display and optimize skeleton screen rendering in LearningProgressSection
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: enhance loading experience with improved skeleton components and progress indicators in LeagueDetailPage
  README.md
  docs/development/league-detail-skeleton-improvements.md
  src/components/common/ProgressIndicator.jsx
  src/components/common/SkeletonLoader.jsx
  src/components/dashboard/LeagueDetailPage.jsx
  src/index.css
  src/pages/LeagueDetailPageRoute.jsx
Labels: frontend, documentation, styling

feat: enhance loading experience with new resource loading indicators and improved state management in LearningProgressSection
  src/components/common/ResourceLoadingIndicator.jsx
  src/components/dashboard/LearningProgressSection.jsx
  src/utils/optimizedDashboardService.js
Labels: frontend

feat: update ResourceProgressBadge to display completed count incremented by one
  src/components/common/ResourceLoadingIndicator.jsx
Labels: frontend

Refactor Dashboard Layout and Enhance Mobile Experience
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/ProgressCard.jsx
  src/components/dashboard/UserProfileSection.jsx
  src/components/landingPage/Hero.jsx
  src/index.css
Labels: frontend, styling

feat: improve layout responsiveness and adjust padding in LearningProgressSection
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: update success message to reflect dashboard data fetching completion
  src/components/dashboard/LearningProgressSection.jsx
Labels: frontend

feat: enhance Note component with additional social media links and Redis icon
  src/components/landingPage/Cohort.jsx
  src/components/landingPage/Note.jsx
Labels: frontend

feat: enhance Cohort component with improved layout, loading states, and custom scrollbar styles
  src/components/landingPage/Cohort.jsx
  src/index.css
Labels: frontend, styling

feat: truncate league description in LearningProgressSection and remove developer info from Note component
  src/components/dashboard/LearningProgressSection.jsx
  src/components/landingPage/Cohort.jsx
  src/components/landingPage/Note.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Enhance Landing Page with Twitter Testimonials and Section Header
  .env.example
  public/team/achintya.jpg
  public/team/adesh-anurag.jpg
  public/team/kunal.jpg
  public/team/pratham-andotra.jpg
  public/team/ratinderdeep-singh.jpg
  public/team/rhythm-goyal.jpg
  public/team/tanveer-singh.jpg
  src/components/common/SectionHeader.jsx
  src/components/landingPage/Team.jsx
  src/components/landingPage/TwitterTestimonials.jsx
  src/data/teamData.js
  src/data/tweetData.js
  src/pages/LandingPage.jsx
  src/utils/twitterService.js
Labels: frontend

feat: update Note component link to direct users to Platform Updates
  src/components/landingPage/Note.jsx
Labels: frontend

feat: refactor UpdatesPage and updatesService for improved category handling and UI enhancements
  src/pages/UpdatesPage.jsx
  src/utils/updatesService.js
Labels: frontend

feat: add new pages for Cohorts, Community, and Gallery; refactor Navbar and Footer components
  src/App.jsx
  src/components/common/Footer.jsx
  src/components/common/Navbar.jsx
  src/components/landingPage/Hero.jsx
  src/components/landingPage/Team.jsx
  src/pages/CohortsPage.jsx
  src/pages/CommunityPage.jsx
  src/pages/GalleryPage.jsx
  src/pages/LandingPage.jsx
Labels: frontend

feat: add About page and integrate with Navbar; implement scroll-based visibility for Navbar; enhance Team and Note components with new data and styling
  src/App.jsx
  src/components/common/Navbar.jsx
  src/components/landingPage/About.jsx
  src/components/landingPage/Note.jsx
  src/components/landingPage/Team.jsx
  src/data/supporterData.js
  src/data/teamData.js
  src/pages/AboutPage.jsx
Labels: frontend

feat: remove unnecessary MotionDiv from Hero component; streamline layout and enhance performance
  src/components/landingPage/About.jsx
  src/components/landingPage/Hero.jsx
Labels: frontend

feat: adjust visibleCount in TwitterTestimonials component; improve user experience by displaying fewer tweets initially
  src/components/landingPage/TwitterTestimonials.jsx
Labels: frontend

Implement feature X to enhance user experience and optimize performance
  public/team/davinder-singh.jpg
Labels: frontend

Add event, gallery, and league data; implement event detail and events pages
  docs/components/gallery-system.md
  public/leagues/cp-cover.jpg
  public/leagues/finance-cover.jpg
  public/leagues/iot-cover.jpg
  public/leagues/ml-cover.jpg
  public/leagues/quantum-cover.jpg
  public/leagues/soft-skills-cover.jpg
  src/App.jsx
  src/components/common/Navbar.jsx
  src/components/landingPage/FeaturedEvents.jsx
  src/components/landingPage/LeaguesCarousel.jsx
  src/components/landingPage/Team.jsx
  src/components/landingPage/TwitterTestimonials.jsx
  src/data/eventsData.js
  src/data/galleryData.js
  src/data/leaguesData.js
  src/pages/EventDetailPage.jsx
  src/pages/EventsPage.jsx
  src/pages/GalleryPage.jsx
  src/pages/LandingPage.jsx
Labels: frontend, documentation

feat: Implement email verification and migration flow for V2
  src/App.jsx
  src/components/admin/SectionManagement.jsx
  src/components/auth/MigrationRoute.jsx
  src/components/dashboard/LeagueDetailPage.jsx
  src/components/dashboard/LearningProgressSection.jsx
  src/components/dashboard/PendingApprovalPage.jsx
  src/components/landingPage/Cohort.jsx
  src/components/landingPage/LeaguesCarousel.jsx
  src/context/AuthContext.jsx
  src/data/leaguesData.js
  src/pages/AdminPage.jsx
  src/pages/DashboardMainPage.jsx
  src/pages/EmailVerificationPage.jsx
  src/pages/MigrationPage.jsx
  src/pages/SignUpPage.jsx
  src/pages/admin/AdminUsersPage.jsx
  src/utils/adminService.js
  src/utils/dataService.js
  src/utils/emailVerificationService.js
  src/utils/githubService.js
  src/utils/migrationService.js
Labels: frontend

feat: Add Leaderboard and Profile pages with enhanced user experience
  src/App.jsx
  src/components/auth/MigrationRoute.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/index.css
  src/pages/LeaderboardPage.jsx
  src/pages/MigrationPage.jsx
  src/pages/ProfilePage.jsx
  src/pages/SignUpPage.jsx
  src/utils/migrationService.js
  src/utils/socialService.js
Labels: frontend, styling

Enhance Profile and Leagues Pages with New UI Components and Improved Data Handling
  src/App.jsx
  src/components/dashboard/DashboardLayout.jsx
  src/components/dashboard/LearningProgressSection.jsx
  src/pages/LeaguesPage.jsx
  src/pages/ProfilePage.jsx
Labels: frontend

refactor: Remove stats cards and clean up leagues grid layout
  src/pages/LeaguesPage.jsx
Labels: frontend

style: Adjust padding in DashboardLayout and remove unnecessary background in LeaguesPage
  src/components/dashboard/DashboardLayout.jsx
  src/pages/LeaguesPage.jsx
Labels: frontend

feat: Enhance LeaguesCarousel with responsive design, detailed league information, and improved styling
  docs/components/league-display-enhancement.md
  docs/components/leagues-carousel-enhancement.md
  src/components/dashboard/WelcomeBanner.jsx
  src/components/landingPage/LeaguesCarousel.jsx
  src/components/landingPage/LeaguesCarousel.module.css
  src/components/landingPage/Team.jsx
  src/data/leaguesData.js
  src/index.css
Labels: frontend, documentation, styling

fix: Update navigation path in LeaguesCarousel and adjust background color in Team component
  src/components/landingPage/LeaguesCarousel.jsx
  src/components/landingPage/Team.jsx
  src/pages/ProfilePage.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

Refactor events and team data, enhance About, Cohorts, Community, and Events pages with new content and layout improvements; remove loading states for better performance.
  public/hero.png
  src/components/dashboard/DashboardLayout.jsx
  src/components/landingPage/Hero.jsx
  src/components/landingPage/Team.jsx
  src/data/eventsData.js
  src/data/teamData.js
  src/pages/AboutPage.jsx
  src/pages/CohortsPage.jsx
  src/pages/CommunityPage.jsx
  src/pages/EventDetailPage.jsx
  src/pages/EventsPage.jsx
Labels: frontend

feat: add eventImageService utility for handling event images
  public/events/thumbnail/accelerate-meet-1.png
  public/events/thumbnail/capstone-announcement-1.png
  public/events/thumbnail/openmic-1.png
  public/events/thumbnail/retreat-1.png
  src/components/landingPage/FeaturedEvents.jsx
  src/data/eventsData.js
  src/pages/EventDetailPage.jsx
  src/pages/EventsPage.jsx
  src/utils/eventImageService.js
Labels: frontend
