Repository chahatkesh/openlearn-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, documentation, ci/cd, dependencies, config, styling

feat: update community data with images for pathfinders and add new ML pathfinder
  src/components/features/admin/WeekManagement.jsx
  src/data/communityData.js
Labels: frontend

feat: add user role handling for Grand Pathfinder across admin pages to enhance data access control
  src/components/features/admin/AssignmentManagement.jsx
  src/components/features/admin/ResourceManagement.jsx
  src/components/features/admin/SectionManagement.jsx
  src/components/features/admin/WeekManagement.jsx
  src/pages/admin/AdminAssignmentsPage.jsx
  src/pages/admin/AdminResourcesPage.jsx
  src/pages/admin/AdminSectionsPage.jsx
  src/pages/admin/AdminWeeksPage.jsx
Labels: frontend

linting error resolve
  src/components/features/admin/AssignmentManagement.jsx
  src/components/features/admin/UserManagement.jsx
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

update: Platform V2 is here
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

fix: hide league navigation on small screens for better responsiveness
  src/components/features/admin/AdminDefaultRedirect.jsx
  src/components/features/landing/LeaguesCarousel.jsx
Labels: frontend

fix: add eslint directive to suppress unused variable warning for SocialLink component
  src/pages/dashboard/ProfilePage.jsx
Labels: frontend

fix: remove redundant admin label from AdminPanel header for cleaner UI
  src/components/layout/AdminLayout.jsx
Labels: frontend

feat: add new technology stack icons to Note component
  src/components/features/landing/Note.jsx
  src/pages/public/CommunityPage.jsx
Labels: frontend

Add image to README for visual enhancement
  README.md
Labels: documentation

fix: improve responsiveness and styling of TeamMemberCard and CommunityCard components
  src/components/features/landing/Team.jsx
Labels: frontend

feat: add monitoring repository to GitHub API service
  src/pages/public/UpdatesPage.jsx
  src/utils/api/githubService.js
Labels: frontend

refactor: simplify MigrationPage institute handling and remove unused institute list
  src/pages/auth/MigrationPage.jsx
  src/utils/auth/migrationService.js
Labels: frontend

refactor: remove Cohort component and update CohortsPage with enhanced animations and error handling
  src/components/features/landing/Cohort.jsx
  src/components/features/landing/index.js
  src/index.css
  src/pages/public/CohortsPage.jsx
Labels: frontend, styling

fix: update cohort name in CohortsPage to reflect current version
  src/pages/public/CohortsPage.jsx
Labels: frontend

Update community data and enhance admin section management
  src/components/features/admin/LeagueManagement.jsx
  src/components/features/admin/SectionManagement.jsx
  src/data/communityData.js
  src/pages/admin/AdminSectionsPage.jsx
Labels: frontend

Add resource types definition and update AdminResourcesPage component
  src/components/features/admin/ResourceManagement.jsx
  src/pages/admin/AdminResourcesPage.jsx
Labels: frontend

refactor: remove unused selectedSectionId state and related logic from ResourceManagement and AdminResourcesPage
  src/components/features/admin/ResourceManagement.jsx
  src/pages/admin/AdminResourcesPage.jsx
Labels: frontend

feat: add enrollment status check for leagues and update ProgressService to handle disabled enrollments
  src/pages/dashboard/LeaguesPage.jsx
  src/utils/api/progressService.js
Labels: frontend

fix: update enrollment status message from 'Enrollment Disabled' to 'Expired' in LeaguesPage
  src/pages/dashboard/LeaguesPage.jsx
Labels: frontend

feat: add migration filter and user migration status display in UserManagement
  src/components/features/admin/UserManagement.jsx
Labels: frontend

feat: add OL ID sorting and display in UserManagement component
  src/components/features/admin/UserManagement.jsx
Labels: frontend

Refactor code structure for improved readability and maintainability
  public/events/accelerate-meet-2/image-1.jpg
  public/events/accelerate-meet-2/image-2.jpg
  public/events/accelerate-meet-2/image-3.jpg
  public/events/accelerate-meet-2/image-4.jpg
  public/events/thumbnail/accelerate-meet-2.png
  src/data/eventsData.js
Labels: frontend

Implement structural updates and optimizations across multiple modules
  public/events/accelerate-meet-2/image-1.jpg
  public/events/accelerate-meet-2/image-3.jpg
  public/events/accelerate-meet-2/image-4.jpg
  public/events/accelerate-meet-2/image-5.jpg
  public/events/retreat-1/image-1.jpg
  public/events/retreat-1/image-2.jpg
  public/events/retreat-1/image-3.jpg
  public/events/retreat-1/image-4.jpg
  public/events/retreat-1/image-5.jpg
  public/events/retreat-1/image-6.jpg
  public/events/retreat-1/image-7.jpg
  public/events/retreat-1/image-8.jpg
Labels: frontend

feat: Remove unused images and update community data with new image URLs
  public/events/accelerate-meet-2/image-1.jpg
  public/events/accelerate-meet-2/image-2.jpg
  public/events/accelerate-meet-2/image-3.jpg
  public/events/accelerate-meet-2/image-4.jpg
  public/events/accelerate-meet-2/image-5.jpg
  public/events/retreat-1/image-1.jpg
  public/events/retreat-1/image-2.jpg
  public/events/retreat-1/image-3.jpg
  public/events/retreat-1/image-4.jpg
  public/events/retreat-1/image-5.jpg
  public/events/retreat-1/image-6.jpg
  public/events/retreat-1/image-7.jpg
  public/events/retreat-1/image-8.jpg
  public/events/thumbnail/accelerate-meet-1.png
  public/events/thumbnail/accelerate-meet-2.png
  public/events/thumbnail/capstone-announcement-1.png
  public/events/thumbnail/openmic-1.png
  public/events/thumbnail/retreat-1.png
  src/data/communityData.js
  src/data/eventsData.js
  src/pages/public/EventDetailPage.jsx
  src/pages/public/EventsPage.jsx
  src/utils/helpers/eventImageService.js
  src/utils/helpers/index.js
Labels: frontend

feat: Add Instagram follow notification to Hero component and update social link styles in Team component
  public/team/chahat-kesharwani.jpg
  src/components/features/landing/Hero.jsx
  src/components/features/landing/Team.jsx
  src/pages/public/AboutPage.jsx
  src/pages/public/AcceleratePage.jsx
Labels: frontend

feat: Update Hero component text and adjust social handles validation to make fields optional
  src/components/features/landing/Hero.jsx
  src/pages/auth/MigrationPage.jsx
Labels: frontend

feat: Update team member image for improved visual representation
  public/team/chahat-kesharwani.jpg
Labels: frontend

feat: Add images to cohort orientation event for enhanced visual content
  src/data/eventsData.js
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Add urgent hackathon notification to Hero component for enhanced visibility
  src/components/features/landing/Hero.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Add latest hackathon event details and update Hero component notification
  src/components/features/landing/Hero.jsx
  src/data/eventsData.js
Labels: frontend

feat: Add Grafana and Prometheus to technology stack in Note component
  src/components/features/landing/Note.jsx
Labels: frontend

Change security contact email address
  .github/SECURITY.md
Labels: documentation, ci/cd

chore: update dependencies
  package-lock.json
Labels: dependencies, config

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Add AI/ML workshop event details to events data
  src/components/features/landing/Hero.jsx
  src/data/eventsData.js
Labels: frontend

feat: Replace Camera icon with LayoutGrid and remove category badge from EventDetailPage
  src/pages/public/EventDetailPage.jsx
Labels: frontend

chore: update dependencies
  package-lock.json
Labels: dependencies, config

feat: Add OpenLearn Grand Orientation event details to events data
  src/data/eventsData.js
Labels: frontend

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'src/**'
  - changed-files:
    - any-glob-to-any-file: 'public/**'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

# CI/CD
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
  - changed-files:
    - any-glob-to-any-file: '.github/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
  - changed-files:
    - any-glob-to-any-file: 'package-lock.json'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file: '*.config.js'
  - changed-files:
    - any-glob-to-any-file: '*.json'
  - changed-files:
    - any-glob-to-any-file: 'vercel.json'

# Styling
styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
  - changed-files:
    - any-glob-to-any-file: '**/*.scss'
