Repository chahatkesh/openlearn-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, documentation, ci/cd, dependencies, config, styling

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Frontend changes
"frontend":
  - src/**
  - public/**

# Documentation
"documentation":
  - "**/*.md"
  - docs/**

# CI/CD
"ci/cd":
  - .github/workflows/**
  - .github/**

# Dependencies
"dependencies":
  - package.json
  - package-lock.json

# Configuration
"config":
  - "*.config.js"
  - "*.json"
  - vercel.json

# Styling
"styling":
  - "**/*.css"
  - "**/*.scss"

Refactor landing page components to use MotionWrapper for animations
  src/components/common/MotionWrapper.jsx
  src/components/landingPage/About.jsx
  src/components/landingPage/Cohort.jsx
  src/components/landingPage/Cta.jsx
  src/components/landingPage/Footer.jsx
  src/components/landingPage/Hero.jsx
  src/components/landingPage/Leaderboard.jsx
  src/components/landingPage/Note.jsx
  src/components/landingPage/Team.jsx
  src/context/SearchContext.jsx
  src/hooks/useSearch.js
  src/utils/avatarService.jsx
  src/utils/avatarUtils.js
Labels: frontend

refactor: update CI/CD setup to remove Vercel secrets and streamline deployment process
  .github/SECRETS-SETUP.md
  .github/workflows/ci-cd.yml
Labels: documentation, ci/cd

refactor: update Lighthouse Performance Check to run on all events and add debug step for dist contents
  .github/workflows/ci-cd.yml
Labels: ci/cd

refactor: clarify SonarCloud integration comment in code quality workflow
  .github/workflows/code-quality.yml
Labels: ci/cd

feat: enable SonarCloud integration in CI/CD pipeline and add setup documentation
  .github/SONARCLOUD-SETUP.md
  .github/workflows/code-quality.yml
Labels: documentation, ci/cd

refactor: remove SonarCloud setup documentation and disable integration in CI/CD workflow
  .github/SONARCLOUD-SETUP.md
  .github/workflows/code-quality.yml
Labels: documentation, ci/cd

fix: update Discussions URL in issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci/cd

fix: update password validation to require 8 characters minimum
  .github/ISSUE_TEMPLATE/config.yml
  src/pages/SignUpPage.jsx
Labels: frontend, ci/cd

fix: remove password length requirement message from SignUpPage
  src/pages/SignUpPage.jsx
Labels: frontend
